.ListItem {
  position: relative;
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  border-bottom: 1px solid #eee;
  color: #555;
}

.Title {
  flex: 1;
  margin: 0;
  font-size: 20px;
  transform: all 1s ease-in-out;
}

.Check {
  margin-right: 16px;
  font-size: 24px;
  transform: all 1s ease-in-out;
}

.IconDone {
  color: #63c2ca;
}

.TitleDone {
  text-decoration: line-through;
  color: #bbb;
}

.TitleInputChange {
  box-sizing: border-box;
  position: absolute;
  top: -1px;
  left: 56px;
  height: 58px;
  width: 80%;
  padding: 0 16px;
  outline: none;
  font-size: 16px;
}
